[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
marshmallow = "*"
"ruamel.yaml" = "*"
mysqlclient = "*"
pytz = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
